# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Steven
	email = hi@stevenaanen.com
[core]
	editor = nvim
	excludesfile = /Users/steven/.gitignore
[color]
	ui = auto
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true
[fetch]
	prune = true
